@charset "UTF-8";
* text {
  font-family: Poppins;
}

nav .btn {
  width: 150px;
  height: 60px;
  border-radius: 40px;
}

header {
  margin-bottom: 20px; /* Header ile section arasına 20 piksel boşluk bırakır */
}

header .btn {
  width: 170px;
  height: 60px;
  border-radius: 40px;
}

@media (max-width: 992px) {
  header .bitcoin-world {
    display: none;
  }
  header .bitcoin-header {
    text-align: center;
  }
  header .btn {
    width: 100%;
  }
}
nav,
header {
  background: #f4fafe;
  background: linear-gradient(90deg, #f6fbff 0%, #ebf3fe 100%);
}

header h4 {
  background: var(--GRA-Blue, linear-gradient(137deg, #468ef9 -12.5%, #0c66ee 107.5%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

header h1 {
  font-weight: 800;
  font-size: 4rem;
}

header span {
  background: var(--GRA-Blue2, linear-gradient(169deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: #666;
  font-weight: 400;
}

.dropdown {
  margin-right: 50px;
}

.table th {
  font-weight: 400;
  color: #666;
}

.table td {
  font-weight: 500;
  color: #222;
}

.table-section {
  background-color: #ffffff;
  border-radius: 30px;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  margin-top: -100px;
}

@media (max-width: 1200px) {
  .border-table {
    margin-bottom: 20px; /* Tablolar arasına 20 piksel boşluk bırakır */
    border-right: none;
  }
  .table-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .border-table {
    border-right: 1px solid silver; /* 1200 pikselden büyük ekranlarda sağ taraftaki çizgiyi ekler */
  }
  /* Son tabloya çizgi ekleme */
  .border-table:last-child {
    border-right: none; /* Son tablonun sağ tarafındaki çizgiyi kaldırır */
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .border-table {
    width: 90%; /* Tablo genişliğini daraltır */
    margin: 0 auto 20px auto; /* Tabloyu ortalar ve altına 20 piksel boşluk bırakır */
  }
}
.amount-box {
  display: flex;
  border: 1px solid blue;
  width: 260px;
  height: 60px;
  border-radius: 20px;
  padding: 20px 25px;
}
.amount-box .input-form {
  display: flex;
  flex: 1; /* input alanının çizgiye yakın olmasını sağlar */
}
.amount-box .input-form input {
  width: calc(100% - 10px); /* input alanının çizgiye olan mesafesi */
  border: none; /* varsayılan input çerçevesini kaldırır */
  outline: none; /* odaklanıldığında kenarlığı kaldırır */
}
.amount-box .cizgi {
  padding-right: 10px;
  border-right: 1px solid blue;
  margin-right: 10px; /* çizgi ve input arasındaki boşluk */
}
.amount-box .input-form input::-moz-placeholder {
  text-align: end; /* Placeholder'ların sağa yaslanması için */
}
.amount-box .input-form input::placeholder {
  text-align: end; /* Placeholder'ların sağa yaslanması için */
}

/* .form-control {
  width: 180px;
  padding-top: 0px;
  padding-right: 20px;
} */
@media (max-width: 576px) {
  .mini {
    display: flex; /* Flex düzenini yeniden uygula */
    flex-wrap: wrap; /* Öğelerin alt alta gelmesini sağla */
    justify-content: space-between; /* Öğeler arasında boşluk bırak */
    align-items: center; /* Dikey hizalama */
  }
  .get-buton {
    margin-top: -50px;
    margin-bottom: -50px;
  }
  .amount-box {
    flex: 0 0 30%; /* Input alanının genişliğini %30 küçültmek için */
    /* margin-right: 5px; Öğeler arasında bir boşluk bırakmak için */
    width: 50%;
    height: 50%;
  }
  .btn-dropdwn {
    flex: 0 0 50%; /* Butonun genişliğini ayarlamak için */
    width: 30%;
    font-size: 0.8rem; /* Butonun yazı boyutunu küçültmek için */
  }
}
.sponsors {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .sponsors {
    justify-content: center !important;
  }
}
.btn-dropdwn {
  width: 158px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid gray;
}

.btn-under-dropdwn {
  width: 440px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

@media (max-width: 992px) {
  .reverse {
    flex-direction: column-reverse;
  }
}
aside h5 {
  font-weight: 500;
  color: #222;
}

h3 span {
  background: var(--GRA-Blue2, linear-gradient(169deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.check-p {
  font-weight: 400;
  color: #222;
}

.btn-cards {
  width: 150px;
  height: 60px;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .btn-cards {
    width: 100%;
    padding: 0px;
  }
}
h5 span {
  background: var(--GRA-Blue2, linear-gradient(169deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-to-top {
  width: 180px;
  height: 60px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.color-text {
  color: #666;
}

footer h5 {
  color: #666;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
}

footer input,
footer button {
  height: 50px;
}

footer input {
  width: 100px;
}

.border-1 {
  border-top: thick silver solid;
  border-bottom: thick silver solid;
}

@media (min-width: 768px) {
  .border-2 {
    border-right: thick silver solid;
  }
}
@media (max-width: 992px) {
  .border-2 {
    border-right: thick;
  }
}
@media (max-width: 992px) {
  .border-2 {
    border-bottom: thick silver solid;
  }
}
.border-2,
.border-3 {
  padding-bottom: 5%;
  padding-top: 5%;
}

@media (max-width: 768px) {
  footer .row {
    display: grid;
  }
}/*# sourceMappingURL=style.css.map */