*text {
  font-family: Poppins;
}

$font-color-primary: #222;
$font-color-secondary: #666;
$font-weight-fourth: 400;
$font-weight-fifth: 500;
$font-weight-sixth: 600;



nav {
  .navbar-brand {
    font-size: 2rem;
    font-weight: 800;
  }
}

a span {
  background: var(--GRA-Blue,
      linear-gradient(137deg, #468ef9 -12.5%, #0c66ee 107.5%));
  color: #fff;
  padding: 0px 5px 3px 5px;
  border-radius: 6px;
  margin-right: 2px;
  position: relative;
  z-index: 0;
}

.nav-link {
  font-weight: $font-weight-fifth;
  color: $font-color-primary;

}

@mixin button {
  width: 165px;
  height: 44px;
  border-radius: 40px;
}

nav .btn {
  @include button
}

header .btn {
  @include button
}

@media (max-width: 768px) {
  header .btn {
    width: 100%;
  }
}

nav,
header {
  background: #f4fafe;
  background: linear-gradient(90deg, #f6fbff 0%, #ebf3fe 100%);
}

header h4 {
  background: var(--GRA-Blue, linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: $font-weight-fifth;
}

header {
  h1 {
    font-weight: 700;
    font-size: 380%;
  }
}

@mixin gradient {
  background: var(--GRA-Blue2, linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  span {
    @include gradient;
  }
}

p {
  color: $font-color-secondary;
  font-weight: $font-weight-fourth;
}


.vector_1 {
  position: absolute;
  top: 37%;
  left: 170px;
}

.vector_2 {
  position: absolute;
  top: 44%;
  left: 143px;
  z-index: 1;
}

.star-1 {
  position: absolute;
  top: 5%;
  left: 10%;
}

.star-2 {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 30%;
  left: 36%;
}

.ellipse_10 {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 78%;
  left: 6%;
}

.ellipse_8 {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 20%;
  right: 43%;
}

.ellipse_9 {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 65%;
  right: 10%;
}

.rectangle {
  border-radius: 30px;
}


.text-link {
  padding-left: 160px;
}

.text-link-3 {
  padding-left: 90px;
}

.table {
  th {
    font-weight: $font-weight-fourth;
    color: $font-color-secondary;
  }
}

.table {
  td {
    font-weight: $font-weight-fifth;
    color: $font-color-primary
  }
}


.table-section {
  background-color: #ffffff;
  border-radius: 30px;
  padding-top: 3%;
  display: flex;
  justify-content: center;
}

.border-table {
  border-right: thick silver solid;
  border-right-width: 1px;
}

.border-amount {
  width: 260px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid;
}

.border-right {
  border-right: 1px solid;
  width: 70px;
}

.form-control { width: 180px;
padding-top: 0px;
padding-right: 20px;} 

@media (max-width: 768px) {
  .sponsors {
    padding-left: 25%;
  }
}

.btn-dropdwn {
  width: 158px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid gray;
}

.btn-under-dropdwn {
  width: 440px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}


@media (max-width: 992px) {
  .reverse {
    flex-direction: column-reverse;
  }
}

aside {
  h5 {
    font-weight: $font-weight-fifth;
    color: $font-color-primary;
  }
}

h3 {
  span {
    @include gradient;
  }
}

.check-p {
  font-weight: $font-weight-fourth;
  color: $font-color-primary;
}

.btn-cards {
  @include button;
}

@media (max-width: 768px) {
  .btn-cards {
    width: 100%;
    padding: 0px;
  }
}

h5 {
  span {
    @include gradient;
  }
}

.btn-to-top {
  width: 180px;
  height: 60px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

.color-text {
  color: $font-color-secondary;
}

footer {
  h5 {
    color: $font-color-secondary;
    font-weight: $font-weight-fifth;
  }

  & a {
    text-decoration: none;
    color: $font-color-secondary;
    font-weight: $font-weight-fifth;
  }

  & input,
  button {
    height: 50px;
  }

  & input {
    width: 100px;
  }
}

/* .border-1 {
  border-top: thick;
  border-bottom: thick;
  border-right: thick silver solid;
  border-left: thick;
}
 */


/* @media (max-width: 768px) {

  .border-2,
  .border-3 {
    border-top: thick silver solid;
  }
} */

.border-1 {
  border-top: thick silver solid;
  border-bottom: thick silver solid;

}

@media (min-width: 768px) {
  .border-2 {
    border-right: thick silver solid;
  }
}

@media (max-width: 992px) {
  .border-2 {
    border-right: thick;
  }
}

@media (max-width: 992px) {
  .border-2 {
    border-bottom: thick silver solid;
  }
}

.border-2,
.border-3 {
  padding-bottom: 5%;
  padding-top: 5%;
}


@media (max-width: 768px) {
  footer .row {
    display: grid;
  }
}